.heading {
	color: var(--color-foreground);
	font-weight: normal;
	text-shadow: var(--neon-text);
	text-transform: uppercase;
}

.medium {
	font-size: 1rem;
}

.large {
	font-size: 1.25rem;
}

.xlarge {
	font-size: 1.5rem;
}
