.label {
	display: flex;
}

.input {
	display: none;
}

.checkbox {
	align-items: center;
	aspect-ratio: 1 / 1;
	border: 1px solid var(--color-foreground);
	cursor: pointer;
	display: flex;
	font-size: 0.875rem;
	height: 1.5rem;
	justify-content: center;
}

.checkbox.actived::after {
	aspect-ratio: 1 / 1;
	background-color: var(--color-foreground);
	content: '';
	height: 75%;
}
