.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-height: 100vh;
    padding: 1.5rem;
    width: 100%;
}

.primary-title {
    color: var(--primary-text-color);
    font-size: 1.5rem;
}

.content-area {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 40rem;
    width: 100%;
}

.actions-area {
    display: flex;
    gap: 0.5rem;
    justify-content: right;
}

.filter {
    display: flex;
    width: 100%;
}

.filter button {
    border-radius: 0;
    width: 100%;
}

.filter button:first-child {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.filter button:last-child {
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.secondary-title {
    color: var(--primary-text-color);
    font-size: 1.25rem;
}

.table-container {
    border: 2px solid var(--primary-border-color);
    border-radius: 0.5rem;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.tertiary-title {
    color: var(--primary-text-color);
    font-size: 1rem;
}

.table-item {
    padding: 0.5rem;
    text-align: start;
}

.status-area {
    align-items: center;
    display: flex;
    justify-content: center;
}

.table-item:first-child .actions-area {
    flex-direction: column;
}

.table-item:nth-child(3) {
    width: 100%;
}

.table-body .table-row:first-child {
    border-top: 2px solid var(--primary-border-color);
}

.table-body .table-row:not(:last-child) {
    border-bottom: 2px solid var(--secondary-border-color);
}

.paragraph {
    color: var(--secondary-text-color);
    font-size: 0.875rem;
    width: 100%;
}
