:root {
  --primary-text-color: #3b3b3b;
  --secondary-text-color: #585858;
  --highlight-color: #0072e3;
  --primary-border-color: #ccc;
  --secondary-border-color: #e4e4e4;
  --background-color: #fff;
  --positive-color: #70e000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background-color);
}