:root {
	--color-backdrop: #00000045;
	--color-background: #fff;
	--color-foreground: #000;
	--color-hover: #00000010;
	--color-shadow: #75757520;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: var(--color-background);
}

.secondary-title {
	color: var(--color-foreground);
	font-size: 1.25rem;
}

.paragraph {
	color: var(--color-foreground);
	font-size: 0.875rem;
}

.icon {
	font-size: 1.25rem;
}
