.taskList {
    height: 100%;
    list-style: none;
    overflow-y: auto;
}

.task {
    align-items: center;
    display: flex;
    gap: 0.75rem;
    padding: 1rem;
}

.task > :nth-child(3) {
    width: 100%;
}

.floatingActionButton {
    bottom: 1.5rem;
    position: fixed;
    right: 1.5rem;
    z-index: 2;
}
